/* You can add global styles to this file, and also import other style files */
:root {
    background: black;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-container {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(400px, 80%, 800px);
}

.media-ui-panel {
    min-width: min-content;
    max-width: 100%;
}

.rnbo-device-ui {
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 600px) {
    .device-selection-menu {
        font-size: 12px;
      }
    h1 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 601px) {
    .device-selection-menu {
    font-size: 26px;
  }
  h1 {
      font-size: 36px;
  }
}