/* You can add global styles to this file, and also import other style files */
:root {
    background: black;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-container {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(360px, 80%, 800px);
}