.rnbo-file-upload-input {
    display:none;
}
p {
    color: white;
}
.no-upload {
    display: none;
}

@media only screen and (max-width: 600px) {
    .device-selection-menu {
        font-size: 12px;
      }
}

@media only screen and (min-width: 601px) {
    .device-selection-menu {
    font-size: 26px;
  }
}