<h3>Recording</h3>
<button
  (click)="startRecording()"
  [disabled]="(isRecording | async) || (isPlaying | async)"
>
  Start Recording
</button>

<input
  id="recordingLength"
  type="range"
  min="1000"
  max="10000"
  step="1000"
  [(ngModel)]="recordingTime"
/>
<audio controls #audioPlayer></audio>
<div class="upload-dialog-ui-element-wrapper">
<button
  (click)="uploadDialog.nativeElement.showModal()"
  [disabled]="(isUploading | async)||(isRecording | async) || (isPlaying | async) || !recordedAudio"
>
Upload File
</button>
</div>
<p *ngIf="(isUploading | async)">
  ...Uploading
</p>
<dialog id="filenameDialog" #fileUploadDialog>
  <form>
      <input type="text" id="filename" name="''" placeholder="input filename" [(ngModel)]="filename" />

      <button
        type="submit"
        (click)="closeUploadDialog(false)"
      >
        Upload
      </button>
    <button type="button" (click)="closeUploadDialog(true)">
      Cancel
    </button>
  </form>
</dialog>
