
<div class="icon-container">
    <img src="assets/google-translate-logo.svg">
</div>
<dialog>
<select formControlName="language" class="language-selection">
    <option value="en-US">English</option>
    <option value="es-ES">Spanish</option>
    <option value="zh-CN">Chinese</option>
    <option value="fr-FR">French</option>
    <option value="de-DE">German</option>
    <option value="it-IT">Italian</option>
    <option value="ja-JP">Japanese</option>
    <option value="ko-KR">Korean</option>
    <option value="pt-BR">Portuguese</option>
    <option value="ru-RU">Russian</option>
  </select>
</dialog>