
<button class="icon-button" (click)="languageSelectionDialog.showModal()">
    <img src="assets/google-translate-logo.svg" id="languageSelectionIcon">
</button>
<dialog #languageSelectionDialog>
  <button class="close-button" (click)="languageSelectionDialog.close()">X</button>
  <div class="dialog-header">
    <h2>Translate into:</h2>
  </div>
<select #languageMenu class="language-selection">
    <option value="ar-XA">
      Arabic (Arabic)
    </option>
    <option value="bn-IN">
      Bengali (India)
    </option>
    <option value="da-DK">
      Danish (Denmark)
    </option>
    <option value="nl-BE">
      Dutch (Belgium)
    </option>
    <option value="nl-NL">
      Dutch (Netherlands)
    </option>
    <option value="en-AU">
      English (Australia)
    </option>
    <option value="en-GB">
      English (United Kingdom)
    </option>
    <option value="en-IN">
      English (India)
    </option>
    <option value="en-US">
      English (United States)
    </option>
    <option value="es-ES">
      Spanish (Spain)
    </option>
    <option value="es-US">
      Spanish (United States)
    </option>
    <option value="fil-PH">
      Filipino (Philippines)
    </option>
    <option value="fr-CA">
      French (Canada)
    </option>
    <option value="fr-FR">
      French (France)
    </option>
    <option value="de-DE">
      German (Germany)
    </option>
    <option value="gu-IN">
      Gujarati (India)
    </option>
    <option value="he-IL">
      Hebrew (Israel)
    </option>
    <option value="hi-IN">
      Hindi (India)
    </option>
    <option value="id-ID">
      Indonesian (Indonesia)
    </option>
    <option value="it-IT">
      Italian (Italy)
    </option>
    <option value="ja-JP">
      Japanese (Japan)
    </option>
    <option value="kn-IN">
      Kannada (India)
    </option>
    <option value="ko-KR">
      Korean (South Korea)
    </option>
    <option value="ms-MY">
      Malay (Malaysia)
    </option>
    <option value="ml-IN">
      Malayalam (India)
    </option>
    <option value="cmn-CN">
      Mandarin (China)
    </option>
    <option value="cmn-TW">
      Mandarin (Taiwan)
    </option>
    <option value="mr-IN">
      Marathi (India)
    </option>
    <option value="nb-NO">
      Norwegian (Norway)
    </option>
    <option value="pl-PL">
      Polish (Poland)
    </option>
    <option value="pt-BR">
      Portuguese (Brazil)
    </option>
    <option value="pt-PT">
      Portuguese (Portugal)
    </option>
    <option value="pa-IN">
      Punjabi (India)
    </option>
    <option value="ru-RU">
      Russian (Russia)
    </option>
    <option value="sv-SE">
      Swedish (Sweden)
    </option>
    <option value="ta-IN">
      Tamil (India)
    </option>
    <option value="te-IN">
      Telugu (India)
    </option>
    <option value="tr-TR">
      Turkish (Turkey)
    </option>
    <option value="vi-VN">
      Vietnamese (Vietnam)
    </option>
    <option value="yue-HK">
      Cantonese (Hong Kong)
    </option>
  </select>
</dialog>