.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
#languageSelectionIcon {
    height: 90%;
    width: 90%;
}
.icon-container {
    width: 50px;
    height: 50px;
    background-color:aliceblue;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.icon-container > img {
    width: 90%;
    height: 90%;
}