#text-input {
    height: 50%;
    width: clamp(300px, 50%, 600px);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "textbox translate" "textbox submit" "info .";
}
#text-input > textarea {
    grid-area: textbox;
}
#text-input > .translate-button {
    grid-area: translate;
}
#text-input > .translate-button {
    grid-area: submit;
}
#text-input > p {
    grid-area: info;
}
#language-input {
    height: 50%;
    display: flex;
    align-items: center;
}
button {
    background-color: #00000000;
    color: aliceblue;
}
.alert {
    color: #f44336;
    opacity: 1.;
}