
<div id="web-audio-api" *ngIf="(isAudioLoaded|async)">
  <form>
    <select class="device-selection-menu-trigger"
      (change)="updateDevice($event)"
    >
    <option value="''">
      -- Select a device --
    </option>
      <option
        *ngFor="let device_id of (deviceList|async)"
        (click)="updateDevice(device_id)"
      >
        {{ device_id }}
      </option>
    </select>
  </form>
    <!-- <section id="device-loader">
      <app-device-menu-ui [deviceList]="(deviceList|async)" (deviceSelected)="updateDevice($event)"></app-device-menu-ui>
    </section> -->
    
    <!--
    conditionally render some components of the device ui
    e.g. midi only uses inports, so we don't need to render the parameter ui
    -->

    <div #deviceui class="device-ui">
      <div #numberui class = 'device-ui-container'>
      <app-number-parameter-ui
            *ngFor="let number_parameter of rnboService.numberParameters; let i = index"
            [ngClass]="number_parameter.name"
            [paramUI]="number_parameter"
            ></app-number-parameter-ui>
        </div>
    </div>
    <div #enumui class = 'device-ui-container'>
    <app-enum-parameter-ui
          *ngFor="let enum_parameter of rnboService.enumParameters; let i = index"
          [ngClass]="enum_parameter.name"
          [paramUI]="enum_parameter"
          ></app-enum-parameter-ui>
      </div>
</div>
