
<app-recording-ui></app-recording-ui>
<app-audio-options></app-audio-options>
<app-device-menu-ui
*ngIf="audioService.isAudioLoaded|async"
[folder]="'voice-fx'"
></app-device-menu-ui>
<app-device-ui
*ngIf="rnboService.isDeviceLoaded|async"
></app-device-ui>

<!-- <section id="audio-options">
  <button
    mat-button
    *ngIf="!(isAudioLoaded | async)"
    mat-button
    (click)="loadAudio()"
  >
    Load WebAudio
  </button>
  <button
    mat-button
    *ngIf="isAudioLoaded | async"
    mat-button
    (click)="testAudio()"
  >
    Test WebAudio
  </button>
</section>
 -->
<!--
<div id="bufferSelectors" *ngIf="isDeviceLoaded | async">
  <div class="buffer-container" *ngFor="let buffer_id of bufferIDs | async">
    <label class="buffer-label">{{ buffer_id }}</label>
    <app-buffer-loader
      [buffer_id]="buffer_id"
      [recordingIDs]="recordingIDs"
      (selectRecording)="loadRecordingIntoBuffer($event)"
    ></app-buffer-loader>
  </div>
</div>
--> 