.media-ui-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.rnbo-device-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


