<div [ngClass]="'device-ui-container' + ' ' + (rnboService.deviceID|async)+'-ui-container'">
    <div *ngFor="let uiElement of rnboService.uiElements" 
    [id]="uiElement.name+'-ui-panel'" [title]="uiElement.name"
    [ngClass]="'device-ui-panel'+' '+uiElement.elementType+'-ui-panel'">
        <div 
        [id]="uiElement.name+'-ui'"
        [ngClass]="'ui-element-container'+' '+uiElement.name+'-ui-element'">
        <p 
        [ngClass]="'ui-element-title '+uiElement.name+'-title'">
            {{uiElement.name}}   
        </p>        
    </div>
    </div> 
</div>

