.outline {
    cx: 50;
    cy: 50;
    r: 30;
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 2;
  }
.load-arrow {
    stroke: #e0e0e0; 
    stroke-width: 1; 
    fill: hsl(208, 100%, 43%);
}

.load-arrow:hover {
    fill: hsl(208, 100%, 66%);
}
